.qpc{
    margin: 0px 50px;
}
.qphc{
    background-color: rgb(24, 241, 78);
    border-radius: 10px;
    padding-bottom: 20px;
}
.qph1, .qph4{
    color: white;
}
.qphc img{
    width: 200px;
}

@media screen and (max-width: 600px){
    .qpc{
        margin: 0px 10px;
    }
}