.header{
    width: 80vw;
    height: 450px;
    margin: 0px auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../quiz-cover.png);
    background-position: bottom;
    background-size: cover;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.header h1{
    font-size: 35px;
    color:whitesmoke ;
    margin: 20px;
}
.header p{
    color:whitesmoke ;
    text-align: center;
    margin: 20px;
}
.select{
    margin: 30px 200px;
    padding: 15px;
    color: rgb(119, 43, 226);
    border-bottom: 2px dashed rgb(6, 223, 243);
}

@media screen and (max-width: 850px){
    
    .header{
        width: 95vw;
    }
    .select{
        margin: 30px 50px;
        color: rgb(119, 43, 226);
        border-bottom: 2px dashed rgb(6, 223, 243);
    }
}
@media screen and (max-width: 500px){
    
    .header{
        width: 95vw;
    }
    .select{
        margin: 30px 10px;
        color: rgb(119, 43, 226);
        border-bottom: 2px dashed rgb(6, 223, 243);
    }
}